target/
out/
.cpcache/
*.log*
.rebel_readline_history
.DS_Store
resources/.DS_Store
resources/public/.DS_Store
resources/public/css/*.css
resources/public/css/*.css.map
node_modules/
package.json
package-lock.json
gh-pages/
