{:paths   ["src"]
 :deps    {org.clojure/clojurescript {:mvn/version "1.10.520"}
           reagent                   {:mvn/version "0.8.1"}
           re-frame                  {:mvn/version "0.10.6"}
           re-codemirror             {:git/url    "https://github.com/yetanalytics/re-codemirror"
                                      :sha        "1408fc5cb3cc0f5800a7e498d3e6dbaac6d981ad"
                                      :exclusions [org.clojure/clojurescript
                                                   reagent]}
           cljs-http                 {:mvn/version "0.1.46"}
           cljsjs/flatpickr          {:mvn/version "4.5.2-0"}}
 :aliases {:fig        {:extra-deps  {com.bhauman/figwheel-main       {:mvn/version "0.2.3"}
                                      com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                        :extra-paths ["target" "resources"]
                        :main-opts   ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :watch-sass {:extra-deps {com.yetanalytics/sassenach {:mvn/version "0.1.1"}}
                        :main-opts  ["-m" "com.yetanalytics.sassenach"
                                     "resources/datasim/ui/sass/style.scss"
                                     "resources/public/css/style.css"
                                     "node_modules"]}
           :build-prod {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}}
                        :main-opts  ["-m" "figwheel.main" "-O" "simple" "-bo" "prod"]}
           :build-sass {:extra-deps {deraen/sass4clj {:mvn/version "0.3.1"}}
                        :main-opts  ["-e" "(require,'sass4clj.core),(sass4clj.core/sass-compile-to-file,\"resources/datasim/ui/sass/style.scss\",\"resources/public/css/style.css\",{:source-map,false,:source-paths,[\"node_modules\"]})"]}}}
