.flatbutton{
  color: #345BC6;
  border: 2px solid #345BC6;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.block-button {
  display: block;
  width:   100%;
  margin:  4px 0px;
}

.page {

> div button.newblock {
  background-color: #2A58CD;
  color:white;
  width: 200px;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  margin-left: 24px;
  -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  transition-duration: .1s;
}
 div button.newblock:active {
  -webkit-box-shadow: 0px 4px 16px -3px rgba(0,0,0,0);
  -moz-box-shadow: 0px 4px 16px -3px rgba(0,0,0,0);
  box-shadow: 0px 4px 16px -3px rgba(0,0,0,0);
  transition-duration: .1s;
}
}

.minorbutton{
  height:        24px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 2px 30px;
  background-color: #345BC6;
  color:white;
  font-size: 1em;
  -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  transition-duration: .1s;
}

.minorbutton:disabled {
  background-color: #AAAAAA;
  color:            #000000;
}

 .minorbutton:active{
  -webkit-box-shadow: 0px 4px 16px -3px rgba(0,0,0,0);
  -moz-box-shadow: 0px 4px 16px -3px rgba(0,0,0,0);
  box-shadow: 0px 4px 16px -3px rgba(0,0,0,0);
  transition-duration: .1s;
}

.majorbutton{
  margin-right: 20px;
  background-color: #459069;
  color:white;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 20px;
  font-size: 1em;
  border: none;
  -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  transition-duration: .1s;
}

.majorbutton:active{
 -webkit-box-shadow: 0px 4px 16px -3px rgba(0,0,0,0);
 -moz-box-shadow: 0px 4px 16px -3px rgba(0,0,0,0);
 box-shadow: 0px 4px 16px -3px rgba(0,0,0,0);
 transition-duration: .1s;
}

.majorbuttonpurple{
  margin-right: 20px;
  margin-top:10px;
  background-color: #4349A6;
  color:white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1em;
  border: none;
  -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
  transition-duration: .1s;
}

.element-button {
  border: 1px solid black;
  width: 150px;
}

.element-button .material-icons {
  font-size: 15px;
  width: 15px;
  height: 15px;
}
.remove-profile {
  padding-top: 15px;
  font-size: medium;
  font-weight: bold;
  color: darkred !important;
}

.add-profile {
  padding-top: 15px;
  font-size: medium;
  font-weight: bold;
  color: #348c2d !important;
}
