@import "material-components-web/material-components-web";

$mdc-theme-primary: #2A58CD;
$mdc-theme-secondary: #4E6C91;
$mdc-theme-background: #fff;

@import "@material/theme/mdc-theme";

.mdc-menu-surface {
  z-index: 10 !important;
}

.mdc-dialog__button:first-child{
  color:white !important;
}

.mdc-button:not(:disabled){
  color:white !important;
}

.cardlist-container {
  width: 75%;
}

.cardlist-container .mdc-card {
  padding: 20px;
}


.mdc-tab-scroller__scroll-content {
  width: 500px;
  overflow: auto;
}
