@import "resources/datasim/ui/sass/mdc.scss";
@import "@material/top-app-bar/_mixins";

.wizardfooter{
  background-color: #3C4967;
}

.title {
  color: #4449A6;
  margin-bottom: 0px;
  font-size: 1em;
}

.page {
  > div h1 {
    color: #353535;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 21px;
  }
}

.top-menu{
  background-color: #3C4967;
  min-height: 64px;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 30px;
  > a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding-right: 40px;
  }
  > a img {
    height: 38px;
    padding: 4px 0px 0px 0px;
  }
}

.datasim-app {
  display:        flex;
  flex-direction: column;
  height:         100vh;
  > .datasim-app-body {
    flex: 1 0 auto;
  }
}

.datasim-app > footer {
  flex-shrink: 0;
  height: 80px;
  width: 100%;
  background-color:#3C4967 ;
  background-size: contain;
  flex-wrap: wrap;
  display:flex;
  align-items: center;
  -webkit-box-shadow: 0px -11px 30px -16px rgba(66,66,66,0.93);
  -moz-box-shadow: 0px -11px 30px -16px rgba(66,66,66,0.93);
  box-shadow: 0px -11px 30px -16px rgba(66,66,66,0.53);
  > a {
    text-decoration: none;
    color:           white;
    > img {
      height:50px;
      margin-left: 30px;
      padding: 10px 0px 10px 0px;
    }
  }
}

/* Set the snackbar to z-index 9, the dialog is 7, the picker is 8 */
.datasim-snackbar {
  z-index: 9 !important;
}
