@import "resources/datasim/ui/sass/codemirror.scss";
@import "resources/datasim/ui/sass/lint.scss";
@import "resources/datasim/ui/sass/mdc.scss";
@import "resources/datasim/ui/sass/fonts.scss";
@import "resources/datasim/ui/sass/nav.scss";
@import "resources/datasim/ui/sass/buttons.scss";
@import "resources/datasim/ui/sass/dialog.scss";

@import "@material/layout-grid/_mixins";

body {
  margin: 0 0 0 0;
  font-family: 'Lato', sans-serif;
}

.hidden-button {
  position:   fixed;
  visibility: hidden;
}

.flex-container {
  display: flex;
}

.spacer {
  flex: 1;
}

#license {
  padding-right: 30px;
}

.grid {
  @include mdc-layout-grid('desktop', 16px);
}

.grid-inner {
  @include mdc-layout-grid-inner('desktop', 4px, 4px);
}

.cell-3 {
  @include mdc-layout-grid-cell('desktop', 3, 2px);
}

.cell-6 {
  @include mdc-layout-grid-cell('desktop', 6, 2px);
}

.cell-12 {
  @include mdc-layout-grid-cell('desktop', 12, 2px);
}

.editor--header {
    display: flex;
    padding: 8px 16px;
    margin:  0px;
    white-space: nowrap;
}

.editor {
    width: 100%;
}

.editor-title {
    line-height:   24px;
    padding-right: 24px;
    font-weight:   900;
}

.editor > textarea {
    font-size: 12px;
}

.options-container {
    background-color: #999999;
    margin-top:       0px;
    padding:          0px 12px;
}

.options {
    max-height: 0px;
    transition: max-height 200ms ease-in;
    overflow:   hidden;
}

.options.visible {
    max-height: 300px;
    overflow:   auto;
}

.validation {
  max-height: 0px;
  transition: max-height 200ms ease-in;
  overflow:   hidden;
}

.validation.visible {
  max-height: 300px;
  overflow:   auto;
}

.validation-details {
  margin-top: 20px;
  font-size: small;
  color: darkred;
  margin-left: 20px;
  font-family: monospace;
  max-height: 0px;
  transition: max-height 200ms ease-in;
  overflow:   hidden;
}

.validation-details.visible {
  max-height: 300px;
  overflow:   auto;
}

.validation-result {
  white-space: pre-line;
  background-color: antiquewhite;
  font-size: small;
  margin-bottom: 20px;
}

.CodeMirror {
  background: #F8F8F8;
}

.editor.max > .CodeMirror {
  height: 450px;
}

.icon {
  height:  28px;
  width:   28px;
  padding: 0px;
  margin:  0px 12px;
}

.icon-mini {
  height:  24px;
  width:   24px;
  padding: 0px;
  margin:  0px 12px;
}


div.edit-basic {
  overflow: auto;
  height: 300px;
}

div.max div.edit-basic {
  overflow: visible;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

span.element-button {
  font-size: smaller;
}


.flatpickr-input {
  width:       289px;
  padding:     8px;
  font-size:   14px;
  color:       #666666;
  font-weight: 400;
}
