.header-container {
    background-color: #777777;
    padding:          8px;
    margin-bottom:    0px;
}

.header-container > div {
    display: flex;
}

.spacer {
    flex-grow: 1;
}

.mdl-layout__content {
    background-color: #555555;
}

.mdl-button {
    margin: 0 4px;
}

.mdl-textfield {
    margin-right: 16px;
}

.hidden-button {
    visibility: hidden;
    position:   fixed;
}

.mini-button, .mini-button-icon {
    height:      24px;
    line-height: 24px;
    font-size:   10px;
}

.mini-button-icon {
    min-width: 24px;
    width:     24px;
}

.editor--header {
    background-color: #777777;
    display:          flex;
    padding:          8px 16px;
    margin:           0px;
}

.editor {
    width: 100%;
}

.editor-title {
    line-height:   24px;
    padding-right: 24px;
    font-weight:   900;
}

.editor > textarea {
    font-size: 12px;
}

.options-container {
    background-color: #999999;
    margin-top:       0px;
    padding:          0px 12px;
}

.options {
    max-height: 0px;
    transition: max-height 200ms ease-in;
    overflow:   hidden;
}

.options.visible {
    max-height: 300px;
}
