.header-parent {
    display: flex;
}

.spacer {
    flex-grow: 1;
}

.mdl-button {
    margin: 0 4px;
}

.mdl-textfield {
    margin-right: 16px;
}

.hidden-button {
    visibility: hidden;
    position:   fixed;
}

.mini-button, .mini-button-icon {
    height:      24px;
    line-height: 24px;
    font-size:   10px;
}

.mini-button-icon {
    min-width: 24px;
    width:     24px;
}

.editor--header {
    background-color: #eeeeee;
    display:          flex;
    padding:          8px 16px;
    margin:           0px 0px 16px 0px;
}

.editor {
    width: 100%;
}

.editor-title {
    line-height:   24px;
    padding-right: 24px;
    font-weight:   900;
}

.editor > textarea {
    font-size: 12px;
}
